h1{
    color:red;
}
h2{
    color:blue;
}
h3{
    color:green;
}
.red {
    color: red;
}
    .blue{
    color: blue;
}
    #para1{
    text-align:left;
}
    #para2{
    text-align:right;
}